/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2021, 6:40:10 PM
    Author     : Hùng
*/
#active{
    font-weight: bold;
}
#pause{
    display: none;
}
body {
    background-color: #aa4043;
    background-image: url(../images/kaleidoscope.png);
    background-repeat: repeat repeat;

}
.left_index,.left_gallery,left_contact {
    width: 90%;
    height: auto;
    padding: 22px 0 0;
    margin: 0 auto;
}
.right{
    width: 100%;
}
.page
{
    font-weight: bold;
    color: black;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}
/* Index */
.left_index .description {
    padding: 6px;
    font-style: italic;
    font-size: 14.4px;
    line-height: 17.82px;
    color: #fff;
    margin-bottom: 20px;
}
.sub_content li{
    display: block;
    width: 100%;
}
.sub_content a{           
    color: white;
}
.sub_content p{           
    margin: 10px 0 11px;
    font-size: 16px;
    color: #ffffff;
}
.left_index .about p{
    margin: 10px 0 11px;
    font-size: 16px;
    color: #ffffff;
}
.left_index h3{
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
}
.left_index .image img,.sub_content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* right */

.header-right {
    height: auto;
    background-color: black;
    text-align: center;
    padding: 7px 15px ;
}
.header-right h4 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}
.social {
    height: auto;
    background-color: #943F41;
}
.social ul {
    padding: 15px 15px ;
}
.social ul li {
    line-height: 22px;
    display: flex;
}
.social img {
    margin-top: 2px;
    height: 16px;
    width: 16px;
}
.social ul li a {
    color: #fff;
    font-size: 14px;
}
/* Gallery*/
.left_gallery h3{
    padding-left: 3vw;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}
.left_gallery img{
    width: 100%;
    height: 100% ;
    border-radius: 15px;
}
.contentGalery ul{
    margin-top: 5%;
}
.contentGalery img{
    margin-top: 10px;
    border-radius: 5px;
}
.contentGalery li{
    margin:  1%;
    width: 46%;
    height: 20vh;
    background-color: #fff;
    display: inline-block;
    border-radius: 5px;
}
.contentGalery li img{
    margin: 5% 5%;
    width: 90%;
    height: 80%;
}
#start,#pause{
    width:30px;
    height: 30px;
}
.changeImg{
    width: 100%;
    height: 100%;
}
#start{
    position: absolute;
    margin: 26% 0 0 46%;
}
#pause{
    padding:  10px 0 0 46%;
}
/* Contact */
.left_contact{
    padding: 0 5vw; 
}
.left_contact h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    padding: 20px 0 ;
}
.sub_content ul{
    list-style-type: none;
}
.content-contact h4 {
    font-family: 'Times New Roman', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    font-weight: normal;
}
.content-contact {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin-top: 0;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
.map iframe{
    padding-top: 20px;
    height: 40vh;
    width: 100%;
}

/* Footer */

.footer {
    display: block;
    height: 88px;
    background-color: #303030;
    bottom: 0;
}
.footer .link {
    width: 90%;
    padding: 24px 25px ;
}
.footer a {
    color: white;
    font-size: 16px;
    float: left;
}
.footer span{
    float: right;
    border: solid 0 #fff;
    background: #fff;
    font-size: 14.4px;
    line-height: 14.4px;
    padding: 2px 2px 1px;
    margin: 3px 2px 0 0;
    border-radius: 4px;
    text-align: center;
    color: #000;
    font-weight: 700;
    width: 10px;
}

@media all and (min-width: 800px) {
    .content{
        width:  80%;
        margin: 0 auto 50px;
        display: flex;
    }
    .left_index,.left_gallery,left_contact {
        width: 70%;
        height: auto;
        padding: 22px 0 0;
    }

    /*Index */
    .sub_content li{
        width: 32%;
        height: auto;
        display: inline-block;
    }
    /*Gallery*/
    .contentGalery ul{
        margin: 5% auto 0;
    }
    .contentGalery li{
        margin:  1%;
        width: 30%;
        height: 20vh;
        background-color: #fff;
        display: inline-block;
        border-radius: 5px;
    }
    .contentGalery li img{
        margin: 7% 5%;
        width: 90%;
        height: 80%;
    }
    .changeImg{
        width: 100%;
        height: 50% ;
    }
    #start{
    position: absolute;
    margin: 18% 0 0 27%;
}
    /* Contact */
    .map iframe{
        padding-top: 20px;
        height: 40vh;
        width: 50vw;
    }
    .right{
        margin:60px 3% 0;
        width: 20%;
    }
}

